/* body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  margin: 120px;
}
h1 {
  color: #333;
}
a {
  color: rgb(171, 4, 160);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
} */

